{% block styles  %}
    <link href="{% static 'real_effort.css' %}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
Captcha Solving:
{{ endblock }}

{{ block content }}
<div class="d-flex flex-column align-items-center">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #FFFF99; padding: 20px; width: 70%; margin: auto; border: 1px solid black; border-radius: 4px">
        <img alt="Image Caption" id="captcha-img" style="width: 30em"> <br>
        <input type="text" id="answer-inp" class="form-control"
               autocorrect="off" autocapitalize="off" spellcheck="false">
        <button type="button" id="submit-btn" class="btn" style="background-color:lightgrey; border: 1px black; margin: 10px">Submit</button>
    </div>
    <br>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 50%; margin: auto; border: 1px solid black; border-radius: 4px">
        <p style="font-size:1em">No. captchas solved thus far: <b><span id="solved-txt" style="color:red;">0</b></span> out of <b><span style="color:red">{{total_num}}</span></b> captchas <br> (remember, you committed to solving <b>{{total_num}}</b> captchas)</p>
    </div>

    <p class="warn" id="warning-txt"></p>

</div>
<br>
{{ include Constants.instructions_template }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'real_effort.js' }}"></script>
{{ if DEBUG }}<script src="{{ static 'real_effort_cheating.js' }}"></script>{{ endif }}
{{ endblock }}
